*/*
!/src/ce_sim
!/src/scope_timer
!/proj/*
!/src
!/img
!/extra/*.8xv
!/extra/*.md
!iconc.png
!makefile
!readme.md
/proj/WindowsSim
/proj/*.user
/proj/.vs/oiram/v15
/proj/x64/DeviceDebug/*.log
/proj/x64/DeviceDebug
